.container{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}


.header {
  background-color: #0093E9;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
}

.biblio {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
  }

  .livre {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .image {
    text-align: center;
  }
  .image img {
    width: 100px;
  }

  .titre h1 {
    font-size: 15px;
    height: 35px;
  }

  .prix {
    text-align: center;
  }
  .prix h2 {
    font-size: 12px;
  }
.prix button {
  width: 90%;
  cursor: pointer;
  background-color: blue;
  color: white;
  border: none;
  padding: 3px;
}

.prix button:hover {
  opacity: 0.65;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}